.headline--primary {
  font-size: 2rem;
  font-weight: 700;
  margin: 40px;
  color: #200000;
}

.headline--secondary {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 20px 0;
  color: #200000;
}

.link {
  color: #537880;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  width: 100%;
  margin: 0;
}

body {
  background: #537880 url("../../../img/wallpaper.png");
}

header {
  width: 100%;
  margin: 0;
  background-color: #b4bfc1;
}

section {
  background-color: #dfdccd;
}

/* ------------------------------------- */
/*           COMPONENTS INDEX            */
/* ------------------------------------- */
h1 {
  font-family: "Rosario", sans-serif;
  font-size: 3rem;
  line-height: 3.4rem;
  color: #200000;
}

h2 {
  font-family: "Rosario", sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #200000;
  margin: 20px 0 10px 0;
}

h3 {
  font-family: "Libre Baskerville", serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #200000;
  margin: 40px 0 20px 0;
}

p,
li {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #200000;
}

p {
  margin: 20px 0;
}

a {
  color: #537880;
  text-decoration: none;
  border-bottom: 2px dotted;
}

a:hover,
a:active,
a:focus {
  color: #214b54;
}

button {
  font-family: "Rosario", sans-serif;
  font-size: 0.9rem;
}

blockquote {
  font-style: italic;
  color: #8d332a;
  margin: 0;
}

.horizontal-list {
  width: 100%;
  padding: 0;
  margin: 20px 0;
}

.horizontal-list li a {
  display: block;
  margin: 0;
  text-align: center;
}

.horizontal-list li {
  list-style: none;
  text-decoration: none;
  padding: 5px 0;
  font-size: 16px;
  font-size: 1rem;
}

.button.nav {
  text-align: center;
  font-size: 19px;
  font-size: 1.2rem;
  margin: 0;
}

.scroll-down .sticky-header {
  transition: 0.5s;
}

.scroll-up .sticky-header {
  position: fixed;
  top: 0;
  transform: none;
  transition: 0.5s;
  background: #b4bfc1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  z-index: 100;
}

.button {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  border: 1px solid #200000;
  padding: 10px;
  font-family: "Rosario", "Times New Roman", sans-serif;
  font-size: 19px;
  font-size: 1.2rem;
  color: #200000;
  margin: 10px 10px 0 0;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.button:before {
  content: "";
  border: 1px solid transparent;
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  transition: all 0.2s ease-in-out;
}

.button:hover,
.button:active,
.button:focus {
  background-color: #F6F4EC;
  background-color: rgba(255, 255, 255, 0.7);
}

.button:hover:before,
.button:active:before,
.button:focus:before {
  border-color: black;
}

.container {
  width: 90%;
  padding: 20px;
  margin: 10px auto;
}

.contact {
  width: 90%;
  padding: 20px;
  margin: 10px auto;
}

.services {
  width: 90%;
  padding: 20px;
  margin: 10px auto;
}

.editorial {
  width: 90%;
  padding: 20px;
  margin: 10px auto;
}

.writing {
  width: 90%;
  padding: 20px;
  margin: 10px auto;
}

.julia-gilstein-logo {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
