.headline--primary {
  font-size: 2rem;
  font-weight: 700;
  margin: 40px;
  color: #200000;
}

.headline--secondary {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 20px 0;
  color: #200000;
}

.link {
  color: #537880;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  width: 100%;
  margin: 0;
}

body {
  background: #537880 url("../../../img/wallpaper.png");
}

header {
  width: 100%;
  margin: 0;
  background-color: #b4bfc1;
}

section {
  background-color: #dfdccd;
}

footer {
  background: #a16d33;
  width: 100%;
  margin: 0;
  text-align: center;
}

footer p,
footer a {
  color: #FFF;
  font-family: "Rosario", sans-serif;
  font-size: 0.9rem;
  line-height: 1.3rem;
}

/* ------------------------------------- */
/*           COMPONENTS INDEX            */
/* ------------------------------------- */
h1 {
  font-family: "Rosario", sans-serif;
  font-size: 3rem;
  line-height: 3.4rem;
  color: #200000;
}

h2 {
  font-family: "Rosario", sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #200000;
  margin: 20px 0 10px 0;
}

h3 {
  font-family: "Libre Baskerville", serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #200000;
  margin: 40px 0 20px 0;
}

p,
li {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #200000;
}

p {
  margin: 20px 0;
}

a {
  color: #537880;
  text-decoration: none;
  border-bottom: 2px dotted;
}

a:hover,
a:active,
a:focus {
  color: #214b54;
}

button {
  font-family: "Rosario", sans-serif;
  font-size: 0.9rem;
}

blockquote p {
  font-style: italic;
  color: #8d332a;
  padding: 0;
  margin: 10px 0;
}

.quote-author {
  font-size: 0.9rem;
  line-height: 1.2rem;
  text-align: right;
}

.block-title-letter {
  color: #b4bfc1;
  font-family: "Libre Baskerville", serif;
  font-size: 8rem;
  line-height: 5.5rem;
  padding-top: 30px;
  margin: 20px 0 0 0;
}

.horizontal-list {
  width: 100%;
  padding: 0;
  margin: 20px 0;
}

.horizontal-list li a {
  display: block;
  margin: 0;
  text-align: center;
}

.horizontal-list li {
  list-style: none;
  text-decoration: none;
  padding: 5px 0;
  font-size: 16px;
  font-size: 1rem;
}

.button.nav {
  text-align: center;
  font-size: 19px;
  font-size: 1.2rem;
  margin: 0;
}

.scroll-down .sticky-header {
  transition: 0.5s;
}

.scroll-up .sticky-header {
  position: fixed;
  top: 0;
  transform: none;
  transition: 0.5s;
  background: #b4bfc1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  z-index: 100;
}

.button {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  border: 1px solid #200000;
  padding: 10px;
  font-family: "Rosario", "Times New Roman", sans-serif;
  font-size: 19px;
  font-size: 1.2rem;
  color: #200000;
  margin: 10px 10px 0 0;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.button:before {
  content: "";
  border: 1px solid transparent;
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  transition: all 0.2s ease-in-out;
}

.button:hover,
.button:active,
.button:focus {
  background-color: #F6F4EC;
  background-color: rgba(255, 255, 255, 0.7);
}

.button:hover:before,
.button:active:before,
.button:focus:before {
  border-color: black;
}

.container {
  width: 90%;
  padding: 20px;
  margin: 10px auto;
}

.contact {
  width: 90%;
  padding: 20px;
  margin: 10px auto;
}

.services {
  width: 90%;
  padding: 20px;
  margin: 10px auto;
}

.editorial {
  width: 90%;
  padding: 20px;
  margin: 10px auto;
}

.colored-header-block {
  height: 150px;
  background-color: #a16d33;
  padding: 0 5px 0 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.writing {
  width: 90%;
  padding: 20px;
  margin: 10px auto;
}

.julia-gilstein-logo {
  width: 100%;
  height: auto;
}

.quotemarks {
  display: block;
  margin-top: 60px;
  margin-bottom: -80px;
}

.services-list {
  color: #7e8744;
  font-style: italic;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  font-size: 0;
  text-align: center;
}

.services-list li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  /* ie7 fix */
  width: 200px;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  padding: 0 5px;
  line-height: 1.6;
}

.services-list li a:before {
  content: "";
  color: #7e8744;
  display: block;
  font-style: normal;
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 3;
  width: 135px;
  height: 135px;
  border: 5px solid #7e8744;
  border-radius: 50%;
  margin: 20px auto 8px auto;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.services-list li a:hover:before,
.services-list li a:active:before,
.services-list li a:focus:before {
  background-color: #7e8744;
  color: #dfdccd;
}

/* set services list item ornamental letter with these classes */
.services-list li .a:before {
  content: "A";
}

.services-list li .ae:before {
  content: "AE";
}

.services-list li .b:before {
  content: "B";
}

.services-list li .c:before {
  content: "C";
}

.services-list li .d:before {
  content: "D";
}

.services-list li .e:before {
  content: "E";
}

.services-list li .f:before {
  content: "F";
}

.services-list li .g:before {
  content: "G";
}

.services-list li .h:before {
  content: "H";
}

.services-list li .i:before {
  content: "I";
}

.services-list li .j:before {
  content: "J";
}

.services-list li .k:before {
  content: "K";
}

.services-list li .l:before {
  content: "L";
}

.services-list li .m:before {
  content: "M";
}

.services-list li .n:before {
  content: "N";
}

.services-list li .o:before {
  content: "O";
}

.services-list li .pp:before {
  content: "PP";
}

.services-list li .p:before {
  content: "P";
}

.services-list li .q:before {
  content: "Q";
}

.services-list li .r:before {
  content: "R";
}

.services-list li .s:before {
  content: "S";
}

.services-list li .t:before {
  content: "T";
}

.services-list li .u:before {
  content: "U";
}

.services-list li .v:before {
  content: "V";
}

.services-list li .w:before {
  content: "W";
}

.services-list li .x:before {
  content: "X";
}

.services-list li .y:before {
  content: "Y";
}

.services-list li .z:before {
  content: "Z";
}

.services-list li .amp:before {
  content: "&";
}

.example-editorial-container {
  margin: 40px 0;
}

.example-editorial {
  min-height: 230px;
  padding: 10px 20px;
  margin: 0;
  background-color: #b4bfc1;
}

.example-background-copper {
  background-color: #a16d33;
}

.example-background-red-sun {
  background-color: #8d332a;
}

.example-background-stormy-seas {
  background-color: #537880;
}

.example-background-moss {
  background-color: #7e8744;
}

/*# sourceMappingURL=style.css.map */
