.headline--primary {
  font-size: 2rem;
  font-weight: 700;
  margin: 40px;
  color: #6A5D93;
}

.headline--secondary {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 20px 0;
  color: #0F6489;
}

.link {
  color: #6A5D93;
  font-weight: 400;
}

a:focus {
  outline: 2px solid #0F6489;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  width: 100%;
  margin: 0;
}

body {
  background: #537880 url("../img/wallpaper.png");
}

header {
  width: 100%;
  margin: 0;
  background-color: #b4bfc1;
}

/* ------------------------------------- */
/*           COMPONENTS INDEX            */
/* ------------------------------------- */
h1 {
  font-family: "Rosario", sans-serif;
  font-size: 3rem;
  line-height: 3.4rem;
  color: #6A5D93;
}

h2 {
  font-family: "Rosario", sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #0F6489;
  margin: 60px 0 10px 0;
}

h3 {
  font-family: "Libre Baskerville", serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #0F6489;
  margin: 20px 0;
}

p,
li {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #29291F;
}

p {
  margin: 20px 0;
}

button {
  font-family: "Rosario", sans-serif;
  font-size: 0.9rem;
}

nav {
  width: 100%;
  margin: 20px 0;
}

nav .horizontal-list li:first-child {
  margin-left: 0;
}

nav .horizontal-list li a {
  display: block;
}

.horizontal-list {
  padding: 0;
  margin: 0;
}

.horizontal-list li {
  list-style: none;
  text-decoration: none;
  padding: 5px 0;
  font-size: 16px;
  font-size: 1rem;
  width: 100%;
}

.button.nav {
  text-align: center;
  font-size: 19px;
  font-size: 1.2rem;
  margin: 0;
}

.scroll-down .sticky-header {
  transition: 0.5s;
}

.scroll-up .sticky-header {
  position: fixed;
  top: 0;
  transform: none;
  transition: 0.5s;
  background: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  z-index: 100;
}

.button {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  border: 1px solid #200000;
  padding: 10px;
  font-family: "Rosario", "Times New Roman", sans-serif;
  font-size: 19px;
  font-size: 1.2rem;
  color: #200000;
  margin: 10px 10px 0 0;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.button:before {
  content: "";
  border: 1px solid transparent;
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  transition: all 0.2s ease-in-out;
}

.button:hover,
.button:active,
.button:focus {
  background-color: #F6F4EC;
  background-color: rgba(255, 255, 255, 0.7);
}

.button:hover:before,
.button:active:before,
.button:focus:before {
  border-color: black;
}

.container {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.contact {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.services {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.julia-gilstein-logo {
  width: 100%;
  height: auto;
}

.contact svg {
  height: 100px;
  margin-right: 20px;
  fill: #CFECCE;
}
.contact svg:active {
  fill: #FFF;
}

.contact a:hover path {
  fill: #FFF;
}

.contact svg circle {
  fill: #77BDB5;
}

.footer-contact-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer a {
  text-decoration: none;
}

.footer-svg {
  text-decoration: none;
  width: 50%;
  max-width: 75px;
  fill: #FFF;
  transition: transform 0.5s;
}

.footer-svg circle {
  fill: #6A5D93;
}

.footer-svg:hover {
  transform: rotate(0.1turn) scale(1.1);
}

.footer-svg:active {
  transform: rotate(0.1turn);
}

.footer-contact {
  width: 50%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
