// -------------------------------------
//              BASE STYLES
// -------------------------------------


// ---------------- * ------------------
* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  width: 100%;
  margin: 0;
}

body {
  background: $body-base-bg-color url("../../../img/wallpaper.png");
}

header {
  width: 100%;
  margin: 0;
  background-color: $header-bg-color;
}

section {
  background-color: $section-bg-color;
}

footer {
  background: $footer-bg-color;
  width: 100%;
  margin: 0;
}

footer p,
footer a {
  color: $footer-text-color;
  font-family: $font-stack-header;
  font-size: $footer-font-size;
  line-height: $footer-line-height;
  text-align: center;
  margin: 0 auto;
}

.show {
  display: inline-block;
}

.hidden {
  display: none;
}



// ---------- Media Queries -------------
@media (min-width: $media-screen-med) {
  nav {
    width: 49%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $media-screen-lg) {

}

@media (min-width: $media-screen-xlg) {

}
