// -------------------------------------
//              BASE STYLES
// -------------------------------------


// ---------------- * ------------------
* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  width: 100%;
  margin: 0;
}

body {
  background: $body-base-bg-color url("../../../img/wallpaper.png");
}

header {
  width: 100%;
  margin: 0;
  background-color: $header-bg-color;
}

section {
  background-color: $section-bg-color;
}

footer a {
  color: #dfdccd;
}

footer {
  color: $footer-text-color;
  background: $footer-bg-color;
  width: 100%;
  margin: 0;
  text-align: center;
}



// ---------- Media Queries -------------
@media (min-width: $media-screen-med) {

}

@media (min-width: $media-screen-lg) {

}

@media (min-width: $media-screen-xlg) {

}
